/* #05ff22 */
@keyframes font{

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e7eacf;
    font-family: sans-serif;
}

.main-body{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-content: center;
}
.left-container{
    display: flex;
    grid-area: 10px;
}
.left-container a{
    margin: 10px;
    color: #05ff22;
}
/* .top-container{
display: flex;
gap: 50px;
} */

.whatsapp-text{
    color: #05ff22;
 }

li:nth-child(2){
    font-size: 28px;
    
}
a{
    text-decoration: none;
    
}
li{
list-style:none;
}
.button{
    padding: 2px;
    /* gap: 15px; */
    display: flex;
    background: #008000;
    border: 2px solid black;
    height: 50px;
    width: 180px;
    align-items: end;
    align-self:self-end;
    /* margin-left: 100px; */
    align-self:center;
    margin: 10px;
    border-radius: 50px;
    align-content: center;
}
.button svg{
    display: block;
    vertical-align: middle;
    /* margin-bottom:1px ; */
    /* border: 1px solid black; */
    color: #000000;
    background-color: #008000;
}
li p{
    margin-bottom: 0px;
    background: #008000;
}
ul{
    display: flex;
    gap: 50px;
    /* background-color: #008000; */
    justify-content: space-between;
}
ul li{
    width: auto;
    margin: 5px;
}
li a {
    border-radius: 20px;
}
a p{
    width: auto;
    align-self: flex-start;
    font-size: 25px;
    align-self: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
.main-container{
height: 600px;
width: auto;
/* border: 2px solid black; */
margin: 40px;
border-radius: 40px;
align-self: center;
background-color: #ffffff;
display: flex;
gap: 40px;
padding: 10px;
}
.container{
    
    /* border: 2px solid black; */
    border-radius: 34px;
    padding: 40px;
}
.container1{
    background-color: #ffffff;
}
.container h2{
    font-weight:lighter;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.container p{
    background-color: #ffffff;
}
.step-to-connect{
    background-color: #ffffff;
    margin-top: 40px;
}
.step-to-connect li{
    margin-top:20px;
    list-style: decimal;
    background-color: #ffffff;
}
.step-to-connect li:nth-child(1){
    margin-top: 47px;
}
.step-to-connect li:nth-child(2){
    font-size: 16px;
}
.step-to-connect svg{
    background-color: #ffffff;
}

svg{
    vertical-align: middle;
    /* padding-top: 5px; */
    /* background-color: #ffffff; */
}

.help-list{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    color: black;
    gap:20px;
    background-color: #ffffff;
}
.help-list li{
    background-color: #ffffff;
    /* color: black; */
    /* font-size: 18px; */
    /* text-decoration: underline; */

}
.custom-link{
    position: relative;
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.custom-link::after{
    content: '';
    position:absolute;
    left: 0;
    bottom: 0;
    width: 87%;
    height: 2px;
    background-color: #008000;
}
.help-list a{
    background-color: #ffffff;
}
.help-list svg{
    background-color: #ffffff;
}
.qr-code{
    background-color: #ffffff;
    padding: 10px;
}
.qr-code img{
    height: auto;
    width: 250px;
}
.qr-code svg{
    background-color: #ffffff;
}
.qr-code p {
    font-size: 14px;
}